<nav class="sidebar" [ngClass]="{'close':!sidebarActive,'active':sidebarActive && !firstLoad}">
	<header>
		<div class="image-text">

			<span class="image">
				<!-- <img src="favicon.ico" alt="logo"> -->
				<i class='bx bx-brain' style="font-size: 45px;"></i>
			</span>

			<div class=" header-text">
				<span class="name text">Romly</span>
				<span class="description text">Yout second brain</span>
			</div>

		</div>

		<i class="bx bx-chevron-left toggle-on" [ngClass]="{'bx-chevron-right':!sidebarActive}"
			(click)="sidebarActive = !sidebarActive;firstLoad=false; "></i>
	</header>

	<div class="menu-bar">
		<div class="menu">
			<ul class="menu-links">
				@for (project of projects; track project.Id; let idx = $index, e = $even) {
				<li class="nav-link">
					<a href="#">
						<i class="bx bx-home-alt icon"></i>
						<span class="text nav-text">
							{{ project.Name }}
						</span>
					</a>
				</li>
				}
			</ul>
		</div>

		<div class="bottom-content">
			<li>
				<a href="#">
					<i class="bx bx-log-out icon"></i>
					<span class="text nav-text">Log out</span>
				</a>
			</li>

		</div>
	</div>

</nav>